@page "/"
@using Blog.App.Services

@inject ConfigService ConfigService

<HeadContent>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
</HeadContent>

<Header ImagePath="assets/img/codebg.png" Heading="Daniel's Blog" Subheading="Hier schreibt Daniel über alles, was ihn bewegt"></Header>

<ContentPage>
    <p>Hello, World!</p>
    <Post></Post>
</ContentPage>
