@page "/admin"
<OnlyAdmin>
    <Header ImagePath="assets/img/codebg.png" Heading="Admin" Subheading="Hier gibt's alles, was Admins so mögen"></Header>
    
    <ContentPage>
        <p>a</p>
    </ContentPage>
</OnlyAdmin>


@code {
    
}